{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

{{ form_start(registrationForm) }}
<h2 class="title">Inscription</h2>
        {{ form_row(registrationForm.full_name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
       
            <div class=>
                {{ form_widget(registrationForm.agreeTerms) }}
                {{ form_label(registrationForm.agreeTerms) }}

            </div>
          

        

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
