<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="/_assets/css/main.css">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		<header>
			<a href="/">
				<h2>Blog</h2>
				<nav>
					<ul class="nav-bar entete " >
						<li class="nav-item">
							<a href="">About</a>
						</li>
						<li class="nav-item flex ">
							<a href="#">Categories</a>
                            <ul class="nav-bar">
							{% for category in app.session.get("categories") %}
                                <li class="nav-item"><a href="category/{{category.slug}}">{{category.name}}</a>({{category.articles | length}})</li>
							{% endfor %}
                                {# <li class="nav-item">Category 2</li>
                                <li class="nav-item">Category 3</li> #}
                            </ul>
						
						</li>
						<li class="nav-item">
							<a href="/contact">Contact</a>
						</li>
					</ul>
				</nav>
			</a>
		</header>
		<div class="container"> {% block body %}{% endblock %}

			</div>
		</body>
	</html>
