{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
   <div class="container">
    <h1>Mes Articles</h1>
<div class="flex">
        <a class="btn" href="{{ path('app_article_new') }}">Créer un nouvel article</a>

   
   </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Date de Création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <div class="container">
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td><div class="article-content">
                    {{ article.content | raw }}
                </div>
                </td>
                <td><img src="{{ article.imageUrl}}" alt="image de {{ article.title}}"></td>
                <td>{{ article.createdAt ? article.fromNow : '' }}</td>
                <td>
                    <div class="bouton">
                    {{ include('article/_delete_form.html.twig') }}
                        <a class="btn" href="{{ path('app_article_show', {'id': article.id}) }}">Voir</a>
                        <a class="btn" href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>
                       
                          
                    </div>
                    </td>
            </tr>
        </div>
        {% else %}
            <tr>
                <td colspan="8">Vous n'avez pas d'articles en lignes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
{% block javascripts %}
			<script>
            $('.article-content').readmore();
			</script>
		{% endblock %}
